@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.no__cursor {
    cursor: no-drop;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.text-purple {
    color: rgb(123, 36, 236);
}

h1 {
    font-family: 'Robot', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

/*

NAV 

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    max-width: 36px;
    align-items: center;
}

.nav__logo--container {
    display: flex;
    padding: 24px 0;
}

.nav__title {
    padding-left: 12px;
}

.nav__links--container {
    display: flex;
    gap: 28px;
    justify-content: flex-end;
}

.nav__links {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 500;
}

.nav__links:hover {
    text-decoration: underline;
}

.nav__links::before {
    transform: scale();
}

.nav__links--login {
    padding-left: 42px;
}

.nav__links--sign-up {
    background-color: rgb(138, 52, 219);
    color: white;
    padding: 8px 24px;
    border-radius: 20px;
}

/* 

Start of Page 

*/

#started {
    display: flex;
    padding: 150px 0 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}

.row__info--container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info__title--container {
    max-width: 400px;
}


.info__title {
    font-size: 46px;
}

.info__text {
    padding: 40px 0;
    font-size: 17px;
    font-weight: 400;
}

.info__container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.info__text--container {
    max-width: 460px;
}

#email {
    margin-left: 12px;
    border: none;
}

#email::placeholder {
    font-size: 15px;
}

.email__container {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 4px 8px 4px 16px;
    border-radius: 38px;
    border: 1px;
    border-color: gray;
    border-style: solid;
    max-width: 412px;
}

.email__btn {
    padding: 12px;
    border-radius: 28px;
    color: white;
    background-color: rgb(123, 36, 236);
    border: none;
    margin-left: 60px;
    padding: 16px 40px 16px 40px;
    cursor: pointer;
}

.btn__text {
    font-size: 16px;
    font-weight: 400;
}

.btm__container {
    padding-top: 90px;
}

.btm__text {
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

.btm__img--container {
    max-width: 50%;
    padding-top: 18px;
}

.btm__img {
    max-width: 150%;
}

/* 

IMG 

*/

.img__container {
    max-width: 60%;
}

.img__ill {
    max-width: 100%;
}

/* 

FEATURES 

*/

#features {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 0;
}

.features__container {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__header {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 3px;
}

.features__title--container {
    display: flex;
    justify-content: center;
}

.features__title {
    font-size: 50px;
}

.features__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: gray;
}

.features__text--container {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    max-width: 500px;
    text-align: center;
}

.row__features--container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
    flex-direction: column;
    margin-bottom: 22px;
}

.service__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service__title {
    display: flex;
}

.service__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__img {
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    padding: 12px;
    border-color: rgb(214, 212, 212);
    width: 54px;
    height: 54px;
}

.service__title {
    display: flex;
    padding-bottom: 28px;
    font-size: 24px;
}

.service__cont {
    display: flex;
}

.service__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 28px;
}

.service__text {
    line-height: 32px;
    color: gray;
    max-width: 200px;
}

/* 

QUALITY 

*/

#quality {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}

.quality__text--container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quality__header {
    font-size: 16px;
    padding: 8px 0;
    letter-spacing: 3px;
    font-weight: 800;
}

.quality__title {
    font-size: 46px;
    letter-spacing: 4px;
    font-weight: 800;
    padding: 10px 0;
}

.quality__text {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    color: gray;
    max-width: 510px;
}

.quality__btn {
    max-width: 120px;
    margin-top: 30px;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background-color: rgb(123, 36, 236);
    color: white;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.quality__img--container {
    width: 50%;
}

.quality__img {
    width: 100%;
}

/* 

STEPS 

*/

#steps {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
}

.steps__img--container {
    width: 50%;
}

.steps__img {
    width: 90%;
}

.steps__text--container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.steps__header {
    font-size: 16px;
    padding: 8px 0;
    letter-spacing: 2px;
    font-weight: 900;
}

.steps__title {
    font-size: 46px;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 10px 0;
}

.steps__numb {
    font-size: 34px;
    color: rgb(190, 190, 190);
    padding-bottom: 38px;
    font-weight: 500;
}

.steps__cont {
    display: flex;
    align-items: center;
}

.steps__list--title {
    font-size: 20px;
    padding-left: 18px;
}

.steps__list--text {
    color: gray;
    padding: 8px 18px;
    max-width: 370px;
    line-height: 26px;
}

.steps__list {
    padding-top: 32px;
}

/* 

PRICING 

*/

#pricing {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    flex-direction: column;
}

.pricing__personal {
    background: linear-gradient(white,white) padding-box, linear-gradient(to right, #02c4aa, #3efdbd) border-box;
    border-radius: 4px;
    border-top: 10px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box ;
}

.pricing__enterprise {
    background: linear-gradient(white,white) padding-box, linear-gradient(to right, #df6615, #ffb570) border-box;
    border-radius: 5px;
    border-top: 10px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box ;
}

.pricing__enterprise--btn {
    border: none;
    padding: 18px 78px;
    border-radius: 40px;
    color: white;
    background: #ff912b;
    background-image: linear-gradient(to right, #df6615, #ffb570);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.pricing__business {
    background: linear-gradient(to bottom right, darkblue, rgb(119, 162, 243));
    color: white;
    border-radius: 5px;
}

.pricing__business--cont {
    margin-top: 10px;
}

.pricing__business .pricing__btn {
    background-image: none;
    background: white;
    color: #5900ff;
}

.pricing__business p {
    color: rgb(243, 242, 242);
}

.pricing__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.pricing__header {
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 800;
    border-bottom-style: solid;
    border-radius: 5px 0 0 0;
    border-width: 1px;
    border-color: rgb(219, 218, 218);
}

.pricing__title {
    font-size: 46px;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 14px 0;
}

.pricing__header--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__text--container {
    text-align: center;
    padding: 20px 0;
    max-width: 520px;
    line-height: 28px;
}

.pricing__text {
    color: gray;
    font-weight: 400;
    font-size: 18px;
}

.pricing__plans {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: space-between;
    margin: auto 0;
}

.pricing__plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-radius: 5px;
    border-color: rgb(219, 218, 218);
    max-width: 360px;
}

.pricing__plan--title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
}

.pricing__price {
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    font-weight: 900;
}

.pricing__month {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding-bottom: 30px;
    font-size: 14px;
}

.mid__det--container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6px 0;
}

.mid__title {
    padding-top: 26px;
    font-size: 20px;
}

.mid__det--text {
    padding: 14px 0;
    color: grey;
    letter-spacing: 1px;
}

.pricing__mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing__end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: rgb(219, 218, 218);
    border-radius: 0 0 5px 0;
}

.pricing__btn {
    border: none;
    padding: 18px 78px;
    border-radius: 40px;
    color: white;
    background: #00ffb3;
    background-image: linear-gradient(to right, #02c4aa, #3efdbd);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

/* 

TESTEMONIALS 

*/

#testimonials {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.testimonials__container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.testimonials__text--container {
    display: flex;
    width: 50%;
    flex-direction: column;
}


.testimonials__header {
    font-size: 17px;
    font-weight: 900;
    padding: 8px 0;
    letter-spacing: 2px;
}

.testimonials__title {
    font-size: 46px;
    font-weight: 800;
    padding: 10px 0;
    letter-spacing: 2px;
}

.testimonials__info--container {
    max-width: 80%;
}

.testimonials__info {
    color: gray;
    font-size: 17px;
    line-height: 32px;
    font-weight: 400;
}

.testimonials__img--container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 50%;
    align-items: center;
    padding-bottom: 200px;
}

.testimonials__img {
    width: 90%;
}

.testimonials__rating {
    color: rgb(255, 230, 91);
    padding-top: 38px;
}

.experience__title {
    font-size: 19px;
    padding-top: 22px;
    font-weight: 500;
}

.experience__desc {
    padding: 26px 0;
    line-height: 26px;
    font-size: 17px;
    width: 80%;
    color: rgb(68, 68, 68);
}

.review__desc--container {
    margin-left: 26px;
}

.review__container {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-bottom: 200px;
}

.review__name {
    font-weight: 600;
    padding-bottom: 8px;
    font-size: 18px;
    letter-spacing: 1px;
}

.review__desc {
    font-size: 16px;
    color: gray;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.review__img {
    width: 100%;
}

.review__img--container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.review__arrows--container {
    margin-left: 130px;
}

.arrow__btn {
    border: none;
    background: none;
    cursor: no-drop;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
    padding: 12px;
    margin: 0 16px;
    border-radius: 50%;
}

.review__arrows {
    display: flex;
}


/* 

FOOTER 

*/

#footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

footer {
    background-color: #6421e0;
}

.footer__links--container {
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: space-between;
}

.footer__link--container {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.footer__title {
    font-size: 22px;
    display: flex;
}

.footer__links {
    padding-top: 26px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__li {
    text-decoration: none;
    color: white;
}

.footer__link {
    padding: 8px 0;
    font-size: 16px;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__info--container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
}

.footer__info--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer__logo--cont {
    display: flex;
    align-items: center;
}

.footer__logo--title {
    padding-left: 12px;
    letter-spacing: 1px;
}

.footer__socials {
    display: flex;
}

.fa-brands {
    background-color: white;
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 10px;
    position: relative;
}

/* 

MENU BTN 

*/

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    max-height: 400px;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 20vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 12px 0;
}

.menu__link {
    font-size: 18px;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/* 

MEDIA SCREEN SIZES 

*/

@media (max-width: 768px) {
    #quality {
        margin: 0 auto;
        width: 90%;
    }

    .footer__title {
        font-size: 22px;
    }

    .footer__link {
        font-size: 15px;
    }

    .service {
        margin: 0 24px 25px 0;
    }

    .service__desc {
        text-align: center;
        align-items: center;
    }


    .row__info--container {
        flex-direction: column;
        text-align: center;
    }

    .img__container {
        max-width: 80%;
    }

    .info__container {
        width: 100%;
        align-items: center;
    }

    .btm__img {
        margin-left: 100px;
    }

    .nav__links--container {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    nav {
        margin: 0 25px;
    }

    .pricing__plan {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .pricing__plans {
        margin: 0 auto;
    }

    .footer__info--row {
        margin: 0 25px;
    }

    .footer__link--container {
        margin: 0 auto;
    }

    .quality__title {
        font-size: 38px;
    }

    .quality__text {
        font-size: 14px;
    }

    .testimonials__title {
        width: 300px;
    }

    .testimonials__text--container {
        width: 90%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .testimonials__container {
        flex-direction: column-reverse;
    }

    .testimonials__img--container {
        width: 70%;
        margin-left: 62px;
    }
    
}

@media (max-width: 530px) {
    #started {
        padding: 60px 0 0;
    }

    #quality {
        width: 80%;
    }

    .quality__img--container{
        margin-top: 150px;
    }

    .quality__img {
        width: 130%;
    }

    .quality__text--container {
        width: 40%;
    }

    .quality__title {
        font-size: 38px;
    }

    .quality__text {
        font-size: 14px;
    }


    .email__container {
        max-width: 380px;
    }

    .email__btn {
        padding: 16px ;
    }


    .service__lists {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info__title {
        font-size: 40px;
    }

    .info__text {
        font-size: 15px;
    }

    .features__title {
        font-size: 40px;
    }

    .features__text {
        font-size: 15px;
    }

    .features__container {
        text-align: center;
    }

    .service__cont {
        justify-content: center;
        width: 100%;
    }

    .service__text {
        width: 100%;
    }

    .service {
        width: 100%;
    }

    .service__desc {
        padding: 0;
        margin: 0 96px 0 24px;
    }
    
    .features__title--container {
        text-align: center;
    }

    .btm__img {
        margin: 0 60px;
    }

    .steps__title {
        font-size: 36px;
    }

    .steps__list--text {
        font-size: 14px;
    }

    .steps__list--title {
        font-size: 16px;
    }

    .pricing__title--container {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 100px;
    }

    .pricing__title {
        font-size: 36px;
    }

    .pricing__text--container {
        width: 400px;
    }

    .pricing__text {
        font-size: 14px;
    }

    .pricing__plan {
        width: 60%;
    }

    .footer__info--row {
        flex-direction: column;
        gap: 32px;
    }

    .footer__links--container {
        min-width: 300px;
        justify-content: center;
        align-items: center;
    }

    .footer__links {
        text-align: center;
    }

    .footer__title {
        text-align: center;
        margin: 0 auto;
        align-items: center;
    }

    .footer__link {
        font-size: 12px;
    }

    .testimonials__img--container {
        width: 80%;
        margin-left: 32px;
    }

    .review__container {
        max-width: 400px;
    }

    .review__arrows--container {
        margin: 0;
    }
}
