@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

.app {
    min-height: 100vh;
    overflow: hidden;
    padding: 2rem;
}

html {
    scroll-behavior: smooth;
}

.no__cursor {
    cursor: no-drop;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.text-purple {
    color: rgb(123, 36, 236);
}

h1 {
    font-family: 'Robot', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

/*

NAV 

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    max-width: 36px;
    align-items: center;
}

.nav__logo--container {
    display: flex;
    padding: 24px 0;
}

.nav__title {
    padding-left: 12px;
}

.nav__links--container {
    display: flex;
    gap: 28px;
    justify-content: flex-end;
}

.nav__links {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

.nav__links--primary {
    margin-top: 8px;
}


.nav__links--primary::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7342d6;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

.nav__links--primary:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}


.nav__links--login {
    margin-left: 42px;
}

.nav__links--sign-up {
    background-color: rgb(138, 52, 219);
    color: white;
    padding: 8px 24px;
    border-radius: 20px;
    transition: background-color 300ms;
}

.nav__links--sign-up:hover {
    background-color: #6421e0;
}


.nav__logo--container, .nav__links--container, #started, #quality, #values, #testimonials {
    animation-name: slide-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

#features, #steps, #pricing, #footer {
    animation-name: slide-in-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}


/* 

Start of Page 

*/

#started {
    display: flex;
    padding: 150px 0 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}

.row__info--container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info__title--container {
    max-width: 400px;
}


.info__title {
    font-size: 46px;
}

.info__text {
    padding: 40px 0;
    font-size: 17px;
    font-weight: 400;
}

.info__container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.info__text--container {
    max-width: 460px;
}

.email__container {
    border: 1px solid;
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    padding: 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}


.email__container #textarea:focus {
    --tw-border-opacity: 1;
    border-color: rgb(138, 52, 219 / var(--tw-border-opacity));
    outline: transparent solid 2px;
    outline-offset: 2px;
}


.input-field::placeholder {
    color: rgb(187, 187, 187);
    font-size: 18px;
}

.input-field {
    border: none;
    padding: 25px 0 25px 22px;
    width: 100%;
    max-width: 700px;
    outline: none;
    border: solid;
    border-radius: 60px;
    border-color: rgb(226, 226, 226);
    transition:border-color 500ms;
}

.input-field:hover {
    border-color: gray;
}

.input-field:focus {
    border-color: #8e42d6;
    border-width: 3px;
}

.email__container button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 18px 32px;
    border-radius: 40px;
    cursor: pointer;
    color: white;
    background-color: #7342d6;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 300ms;
}

.email__container button:hover {
    background-color: #5314c9;
}


.btn__text {
    font-size: 16px;
    font-weight: 400;
}

.btm__container {
    padding-top: 90px;
}

.btm__text {
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

.btm__img--container {
    max-width: 50%;
    padding-top: 18px;
}

.btm__img {
    max-width: 150%;
}

/* 

IMG 

*/

.img__container {
    max-width: 60%;
}

.img__ill {
    max-width: 100%;
}

/* 

FEATURES 

*/

#features {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding: 80px 0;
}

.features__container {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__header {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 3px;
}

.features__title--container {
    display: flex;
    justify-content: center;
}

.features__title {
    font-size: 50px;
}

.features__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: gray;
}

.features__text--container {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    max-width: 500px;
    text-align: center;
}

.row__features--container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
    flex-direction: column;
    margin-bottom: 40px;
    max-width: 350px;
}

.service__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.service__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__img {
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    padding: 15px;
    border-color: rgb(214, 212, 212);
    width: 54px;
    height: 54px;
}

.service__title {
    display: flex;
    padding-bottom: 12px;
    font-size: 24px;
}

.service__cont {
    display: flex;
}

.service__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 28px;
}

.service__text {
    line-height: 32px;
    color: gray;
    max-width: 200px;
}

/* 

QUALITY 

*/

#quality {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
}

.quality__text--container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.quality__header {
    font-size: 16px;
    padding: 8px 0;
    letter-spacing: 3px;
    font-weight: 800;
}

.quality__title {
    font-size: 46px;
    letter-spacing: 4px;
    font-weight: 800;
    padding: 10px 0;
}

.quality__text {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    color: gray;
    max-width: 510px;
}

.quality__btn {
    max-width: 120px;
    margin-top: 30px;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background-color: rgb(123, 36, 236);
    color: white;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.quality__btn:hover {
    background-color: #5314c9;
}

.quality__img--container {
    width: 50%;
}

.quality__img {
    width: 100%;
}

/* 

STEPS 

*/

#steps {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
}

.steps__img--container {
    width: 50%;
}

.steps__img {
    width: 90%;
}

.steps__text--container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.steps__header {
    font-size: 16px;
    padding: 8px 0;
    letter-spacing: 2px;
    font-weight: 900;
}

.steps__title {
    font-size: 46px;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 10px 0;
}

.steps__numb {
    font-size: 34px;
    color: rgb(190, 190, 190);
    padding-bottom: 38px;
    font-weight: 500;
}

.steps__cont {
    display: flex;
    align-items: center;
}

.steps__list--title {
    font-size: 20px;
    padding-left: 18px;
}

.steps__list--text {
    color: gray;
    padding: 8px 18px;
    max-width: 370px;
    line-height: 26px;
}

.steps__list {
    padding-top: 32px;
}

/* 

VALUES 

*/

#values {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.values__btm--container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.values__text--container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__header {
    font-size: 16px;
    padding: 8px 0;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
}

.values__title {
    font-size: 46px;
    letter-spacing: 4px;
    font-weight: 800;
    padding: 10px 0;
}

.values__text {
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    color: gray;
    max-width: 500px;
    margin-bottom: 42px;
}

.affordable__title--container {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.affordable__title--container svg {
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;
}

.dollar__sign--container {
    padding: 8px 8px;
    background-color: lightgreen;
    border-radius: 50%;
}

.values__affordable {
    margin-right: 16px;
}

.values__affordable--title {
    margin-left: 12px;
    font-size: 22px;
    font-weight: 800;
    color: rgb(70, 69, 69);
}

.values__affordable--text {
    text-align: left;
    font-size: 16px;
    color: gray;
}

.professionalism__title--container svg {
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: -2px;
}

.briefcase__container {
    padding: 8px;
    background-color: rgb(255, 181, 181);
    border-radius: 50%;
}

.professionalism__title--container {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.values__professionalism--title {
    margin-left: 12px;
    font-size: 22px;
    font-weight: 800;
    color: rgb(70, 69, 69);
}

.values__professionalism--text {
    text-align: left;
    font-size: 16px;
    color: gray;
}

.values__img--container {
    width: 50%;
}

.values__img {
    width: 100%;
}

/* 

PRICING 

*/

#pricing {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
    flex-direction: column;
}

.pricing__personal {
    background: linear-gradient(white,white) padding-box, linear-gradient(to right, #02c4aa, #3efdbd) border-box;
    border-radius: 4px;
    border-top: 10px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box ;
}

.pricing__enterprise {
    background: linear-gradient(white,white) padding-box, linear-gradient(to right, #df6615, #ffb570) border-box;
    border-radius: 5px;
    border-top: 10px solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box ;
}

.pricing__enterprise--btn {
    border: none;
    padding: 18px 78px;
    border-radius: 40px;
    color: white;
    background: #ff912b;
    background-image: linear-gradient(to right, #df6615, #ffb570);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pricing__enterprise--btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pricing__business {
    background: linear-gradient(to bottom right, darkblue, rgb(119, 162, 243));
    color: white;
    border-radius: 5px;
}

.pricing__business--cont {
    margin-top: 10px;
}

.pricing__business .pricing__btn {
    background-image: none;
    background: white;
    color: #5900ff;
}

.pricing__business p {
    color: rgb(243, 242, 242);
}

.pricing__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.pricing__header {
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 800;
    border-bottom-style: solid;
    border-radius: 5px 0 0 0;
    border-width: 1px;
    border-color: rgb(219, 218, 218);
}

.pricing__title {
    font-size: 46px;
    letter-spacing: 2px;
    font-weight: 800;
    padding: 14px 0;
}

.pricing__header--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing__text--container {
    text-align: center;
    padding: 20px 0;
    max-width: 520px;
    line-height: 28px;
}

.pricing__text {
    color: gray;
    font-weight: 400;
    font-size: 18px;
}

.pricing__plans {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    justify-content: space-between;
    margin: auto 0;
}

.pricing__plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-radius: 5px;
    border-color: rgb(219, 218, 218);
    max-width: 360px;
}

.pricing__plan--title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
}

.pricing__price {
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    font-weight: 900;
}

.pricing__month {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    padding-bottom: 30px;
    font-size: 14px;
}

.mid__det--container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6px 0;
}

.mid__title {
    padding-top: 26px;
    font-size: 20px;
}

.mid__det--text {
    padding: 14px 0;
    color: grey;
    letter-spacing: 1px;
}

.pricing__mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pricing__end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: rgb(219, 218, 218);
    border-radius: 0 0 5px 0;
}

.pricing__btn {
    border: none;
    padding: 18px 78px;
    border-radius: 40px;
    color: white;
    background: #00ffb3;
    background-image: linear-gradient(to right, #02c4aa, #3efdbd);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.pricing__btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 

TESTEMONIALS 

*/

#testimonials {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0 0;
}

.testimonials__container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.testimonials__text--container {
    display: flex;
    width: 50%;
    flex-direction: column;
}


.testimonials__header {
    font-size: 17px;
    font-weight: 900;
    padding: 8px 0;
    letter-spacing: 2px;
}

.testimonials__title {
    font-size: 46px;
    font-weight: 800;
    padding: 10px 0;
    letter-spacing: 2px;
}

.testimonials__info--container {
    max-width: 80%;
}

.testimonials__info {
    color: gray;
    font-size: 17px;
    line-height: 32px;
    font-weight: 400;
}

.testimonials__img--container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 50%;
    align-items: center;
    padding-bottom: 200px;
}

.testimonials__img {
    width: 90%;
}

.testimonials__rating {
    color: rgb(255, 230, 91);
    padding-top: 38px;
}

.experience__title {
    font-size: 19px;
    padding-top: 22px;
    font-weight: 500;
}

.experience__desc {
    padding: 26px 0;
    line-height: 26px;
    font-size: 17px;
    width: 80%;
    color: rgb(68, 68, 68);
}

.review__desc--container {
    margin-left: 26px;
}

.review__container {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-bottom: 200px;
}

.review__name {
    font-weight: 600;
    padding-bottom: 8px;
    font-size: 18px;
    letter-spacing: 1px;
}

.review__desc {
    font-size: 16px;
    color: gray;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.review__img {
    width: 100%;
}

.review__img--container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

.review__arrows--container {
    margin-left: 130px;
}

.arrow__btn {
    border: none;
    background: none;
    cursor: no-drop;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
    padding: 12px;
    margin: 0 16px;
    border-radius: 50%;
}

.review__arrows {
    display: flex;
}


/* 

FOOTER 

*/

#footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

footer {
    background-color: #6421e0;
    margin: 0 auto;
    width: 100%;
}

.footer__links--container {
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: space-between;
}

.footer__link--container {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.footer__title {
    font-size: 22px;
    display: flex;
}

.footer__links {
    padding-top: 26px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__li {
    position: relative;
    text-decoration: none;
    color: white;
}

.footer__link {
    padding: 8px 0;
    font-size: 16px;
    text-decoration: none;
}

.footer__li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.footer__li:hover::after, .footer__li:focus::after {
    opacity: 1;
}

.footer__cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer__info--container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
}

.footer__info--row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer__logo--cont {
    display: flex;
    align-items: center;
}

.footer__logo--title {
    padding-left: 12px;
    letter-spacing: 1px;
}

.footer__socials {
    display: flex;
}

.fa-brands {
    background-color: white;
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 10px;
    position: relative;
}

/* 

MENU BTN 

*/

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    max-height: 30vh;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}


.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 12px 0;
}

.menu__link {
    font-size: 18px;
    color: white;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/* 

MEDIA SCREEN SIZES 

*/

@media (max-width: 768px) {
    #started {
        padding-top: 50px;
    }

    .info__title--container {
        max-width: 700px;
    }

    .info__title {
        font-size: 32px;
    }

    .info__text--container {
        max-width: 500px;
    }

    .info__text {
        padding-bottom: 20px;
    }

    .btn__menu {
        display: block;
    }

    .nav__links {
        display: none;
    }

    .row__info--container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info__container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .btm__img--container {
        width: 100%;
        margin-left: 80px;
    }
    
    .img__container {
        max-width: 80%;
        padding-top: 50px;
    }

    .row__features--container {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .service {
        max-width: 384px;
        width: 384px;
        margin-left: 6rem;
    }

    #quality {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .quality__text--container {
        align-items: center;
    }

    .quality__title {
        font-size: 32px;
        width: 450px;
    }

    .quality__text--container {
        max-width: 600px;
        width: 500px;
        margin-top: 12px;
    }

    .quality__img--container {
        width: 70%;
    }

    #steps {
        flex-direction: column;
        text-align: center;
        padding-top: 160px;
    }

    .steps__img--container {
        width: 65%;
    }

    .steps__img {
        width: 100%;
    }

    .steps__title {
        font-size: 32px;
    }

    .steps__text--container {
        margin-top: 40px;
    }

    .steps__cont {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .steps__numb {
        padding-bottom: 12px;
    }

    .steps__list--title {
        padding: 0;
    }
    
    #values {
        flex-direction: column-reverse;
        text-align: center;
    }

    .values__text--container {
        padding-top: 40px;
        margin: 0 auto;
        max-width: 448px;
        width: 448px;
        align-items: center;
    }

    .values__title {
        font-size: 32px;
        width: 400px;
        text-align: center;
        align-items: center;
        padding: 28px;
    }
    
    .values__text {
        width: 500px;
    }

    .values__btm--container {
        flex-direction: column;
        text-align: center;
    }
    .affordable__title--container {
        margin-left: 9rem;
        margin-right: 10rem;
    }

    .values__affordable {
        margin: 0;
        margin-bottom: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .values__affordable--text {
        width: 300px;
        text-align: center;
        line-height: 26px;
    }

    .professionalism__title--container {
        margin-left: 9rem;
        margin-right: 10rem;
    }

    .values__professionalism--text {
        width: 300px;
        text-align: center;
        line-height: 26px;
    }

    .values__professionalism {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .values__img--container {
        width: 70%;
        padding-top: 50px;
    }

    #pricing {
        flex-direction: column;
    }

    .pricing__title {
        font-size: 52px;
        text-align: center;
    }

    .pricing__text--container {
        max-width: 600px;
    }

    .pricing__plans {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pricing__plan {
        width: 60%;
        margin-bottom: 58px;
    }

    .testimonials__container {
        flex-direction: column;
        text-align: center;
    }

    .testimonials__text--container {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .testimonials__img--container {
        width: 80%;
        margin: 0 auto;
    }

    .testimonials__img {
        width: 100%;
    }

    .testimonials__info--container {
        max-width: 100%;
    }

    .experience__desc {
        width: 90%;
        padding-bottom: 40px;
    }

    .review__img--container {
        height: 80px;
        width: 80px;
    }

    .review__img {
        height: 100%;
        width: 100%;
        vertical-align: middle;
    }

    .review__desc--container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-left: 32px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .review__arrows--container {
        margin-left: 50px;
    }

    .footer__links--container {
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }

    .footer__link--container {
        width: 200px;
    }

    .footer__cont {
        width: 100%;
        height: 230px;
        padding-left: 32px;
    }

    .footer__info--row {
        flex-direction: column;
    }

    .footer__cr {
        margin: 34px 0;
    }
}

@media (max-width: 530px) {
    .email__container {
        width: 500px;
        display: block;
    }

    .email__container button {
        position: relative;
        top: 40px;
        left: 1px;
        padding: 22px 200px;
        font-size: 16px;
        font-weight: 700;
    }

    .btm__text {
        font-size: 16px;
    }

    .btm__img--container {
        max-width: 70%;
        margin-left: 0;
    }

    .btm__img {
        padding-right: 20px;
    }

    .img__container {
        max-width: 100%;
    }

    .features__container {
        text-align: center;
    }

    .service {
        margin-left: 0;
    }

    .service__cont {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .service__title {
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .service__desc {
        padding: 0;
    }

    .service__text {
        max-width: 100%;
        font-size: 20px
    }

    .service__img {
        margin-bottom: 30px;
    }

    .quality__img--container {
        width: 100%;
    }

    .quality__btn {
        padding: 12px 32px;
        font-size: 0.875rem;
        font-weight: 500;
        white-space: nowrap;
        display: block;
        min-width: 150px;
    }

    .steps__img--container {
        width: 100%;
    }

    .steps__text--container {
        min-width: 400px;
    }

    .steps__numb {
        font-size: 40px;
    }

    .values__img--container {
        width: 100%;
    }

    .pricing__title {
        font-size: 38px;
    }

    .pricing__text {
        font-size: 14px;
    }

    .pricing__plan {
        width: 80%;
    }

    .testimonials__img--container {
        width: 100%;
        padding-bottom: 80px;
    }

    .testimonials__text--container {
        width: 100%;
    }

    .testimonials__title {
        font-size: 38px;
    }

    .experience__title {
        font-size: 24px;
    }

    .review__img--container {
        margin-bottom: 20px;
        height: 70px;
        width: 70px;
    }

    .review__container {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .review__desc--container {
        padding: 0;
        margin-bottom: 20px;
    }

    .review__arrows--container {
        margin: 0 auto;
    }

    .footer__link--container {
        width: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 10px;
    }

    .footer__links--container {
        justify-content: space-evenly;
    }

    .footer__title {
        display: block;
        min-width: 120px;
    }

    .footer__cont {
        padding-left: 0;
    }

    .footer__links {
        min-width: 120px;
    }
}